name: CI

on: [push, pull_request]

jobs:
  quality-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install ruff robotframework pyserial python-can

      - name: Lint with Ruff
        run: ruff check .

      - name: Check Formatting
        run: ruff format --check .

      - name: Validate Robot Library Syntax
        run: python -m robot.libdoc libs/ProtocolLib.py list
